@use '../../tools/breakpoints';

@mixin styles {
  @include breakpoints.each($include_default: true, $suffix: true) using ($slice_suffix) {
    .align#{$slice_suffix}-start {
      align-items: flex-start;
    }
    .align#{$slice_suffix}-end {
      align-items: flex-end;
    }
    .align#{$slice_suffix}-center {
      align-items: center;
    }
    .align#{$slice_suffix}-baseline {
      align-items: baseline;
    }
    .align#{$slice_suffix}-stretch {
      align-items: stretch;
    }
  }
}
