@use '../../tools/breakpoints';

@mixin styles {
  @include breakpoints.each($include_default: true, $suffix: true) using ($slice_suffix) {
    .align-self#{$slice_suffix}-start {
      align-self: flex-start;
    }
    .align-self#{$slice_suffix}-end {
      align-self: flex-end;
    }
    .align-self#{$slice_suffix}-center {
      align-self: center;
    }
    .align-self#{$slice_suffix}-baseline {
      align-self: baseline;
    }
    .align-self#{$slice_suffix}-stretch {
      align-self: stretch;
    }
    .align-self#{$slice_suffix}-auto {
      align-self: auto;
    }
  }
}
