@use '../../tools/breakpoints';

@mixin styles {
  @include breakpoints.each($include_default: true, $suffix: true) using ($slice_suffix) {
    .flex#{$slice_suffix}-grow-0 {
      flex-grow: 0;
    }
    .flex#{$slice_suffix}-grow-1 {
      flex-grow: 1;
    }
    .flex#{$slice_suffix}-shrink-0 {
      flex-shrink: 0;
    }
    .flex#{$slice_suffix}-shrink-1 {
      flex-shrink: 1;
    }
  }
}
