@use '../../tools/breakpoints';

@mixin styles {
  @include breakpoints.each($include_default: true, $suffix: true) using ($slice_suffix) {
    .justify#{$slice_suffix}-start {
      justify-content: flex-start;
    }
    .justify#{$slice_suffix}-end {
      justify-content: flex-end;
    }
    .justify#{$slice_suffix}-center {
      justify-content: center;
    }
    .justify#{$slice_suffix}-space-between {
      justify-content: space-between;
    }
    .justify#{$slice_suffix}-space-around {
      justify-content: space-around;
    }
  }
}
