@use '../config';

$-spacer:       config.get('elements', 'blockquote', 'spacer');
$-font-size:    config.get('elements', 'blockquote', 'font-size');
$-font-weight:  config.get('elements', 'blockquote', 'font-weight');

@mixin styles {
  blockquote {
    padding: $-spacer * 4 0 $-spacer * 4 $-spacer * 6;
    font-size: $-font-size;
    font-weight: $-font-weight;
  }
}
