@use '../config';

$-border-radius: config.get('elements', 'code', 'border-radius');
$-font-size: config.get('elements', 'code', 'font-size');
$-font-weight: config.get('elements', 'code', 'font-weight');
$-code-padding: config.get('elements', 'code', 'padding');
$-code-color: config.get('elements', 'code', 'color');
$-code-background-color: config.get('elements', 'code', 'background-color');
$-kbd-padding: config.get('elements', 'code', 'kbd', 'padding');
$-kbd-color: config.get('elements', 'code', 'kbd', 'color');
$-kbd-background-color: config.get('elements', 'code', 'kbd', 'background-color');

@mixin styles {
  code,
  kbd {
    border-radius: $-border-radius;
    font-size: $-font-size;
    font-weight: $-font-weight;
  }

  code {
    padding: $-code-padding;
    color: $-code-color;
    background-color: $-code-background-color;
  }

  kbd {
    padding: $-kbd-padding;
    color: $-kbd-color;
    background-color: $-kbd-background-color;
  }
}
