@use '../../config';

$-font-weights: config.get('helpers', 'typography', 'font-weights');

@mixin styles {
  @each $name, $value in $-font-weights {
    .font-weight-#{$name} {
      font-weight: $value;
    }
  }

  .font-italic {
    font-style: italic;
  }
}
