@use 'sass:map';
@use '../../config';
@use '../../tools/breakpoints';

$-headings: config.get('helpers', 'typography', 'heading');

@mixin -make-declarations($value_map) {
  font-size: map.get($value_map, 'size');
  font-weight: map.get($value_map, 'weight');
  line-height: map.get($value_map, 'line-height');
  letter-spacing: map.get($value_map, 'letter-spacing');
  font-family: map.get($value_map, 'font-family');
  @if map.has-key($value_map, 'text-transform') {
    text-transform: map.get($value_map, 'text-transform');
  }
}

@mixin styles {
  @each $heading in 'h1', 'h2', 'h3', 'h4', 'h5', 'h6' {
    @if map.has-key($-headings, $heading) {
      #{$heading} {
        @include -make-declarations(map.get($-headings, $heading));
      }
    }
  }
  @include breakpoints.each($include_default: true, $suffix: true) using ($slice_suffix) {
    @each $heading, $value_map in $-headings {
      .text#{$slice_suffix}-#{$heading} {
        @include -make-declarations($value_map);
      }
    }
  }
}
