@use "sass:map";
@use "../config" as *;

// @use '../variables' as *;
// @use '../tools/breakpoints' as *;
//
$-headings-font-family:

$headings: map-deep-merge(
  (
    'h1': (
      'size': 6rem,
      'weight': 300,
      'line-height': 6rem,
      'letter-spacing': -0.015625em,
      'font-family': $heading-font-family,
      'text-transform': false,
    ),
    'h2': (
      'size': 3.75rem,
      'weight': 300,
      'line-height': 3.75rem,
      'letter-spacing': -0.0083333333em,
      'font-family': $heading-font-family,
      'text-transform': false,
    ),
    'h3': (
      'size': 3rem,
      'weight': 400,
      'line-height': 3.125rem,
      'letter-spacing': normal,
      'font-family': $heading-font-family,
      'text-transform': false,
    ),
    'h4': (
      'size': 2.125rem,
      'weight': 400,
      'line-height': 2.5rem,
      'letter-spacing': 0.0073529412em,
      'font-family': $heading-font-family,
      'text-transform': false,
    ),
    'h5': (
      'size': 1.5rem,
      'weight': 400,
      'line-height': 2rem,
      'letter-spacing': normal,
      'font-family': $heading-font-family,
      'text-transform': false,
    ),
    'h6': (
      'size': 1.25rem,
      'weight': 500,
      'line-height': 2rem,
      'letter-spacing': 0.0125em,
      'font-family': $heading-font-family,
      'text-transform': false,
    ),
    'subtitle-1': (
      'size': 1rem,
      'weight': normal,
      'line-height': 1.75rem,
      'letter-spacing': 0.009375em,
      'font-family': $body-font-family,
      'text-transform': false,
    ),
    'subtitle-2': (
      'size': 0.875rem,
      'weight': 500,
      'line-height': 1.375rem,
      'letter-spacing': 0.0071428571em,
      'font-family': $body-font-family,
      'text-transform': false,
    ),
    'body-1': (
      'size': 1rem,
      'weight': 400,
      'line-height': 1.5rem,
      'letter-spacing': 0.03125em,
      'font-family': $body-font-family,
      'text-transform': false,
    ),
    'body-2': (
      'size': 0.875rem,
      'weight': 400,
      'line-height': 1.25rem,
      'letter-spacing': 0.0178571429em,
      'font-family': $body-font-family,
      'text-transform': false,
    ),
    'button': (
      'size': 0.875rem,
      'weight': 500,
      'line-height': 2.25rem,
      'letter-spacing': 0.0892857143em,
      'font-family': $body-font-family,
      'text-transform': uppercase,
    ),
    'caption': (
      'size': 0.75rem,
      'weight': 400,
      'line-height': 1.25rem,
      'letter-spacing': 0.0333333333em,
      'font-family': $body-font-family,
      'text-transform': false,
    ),
    'overline': (
      'size': 0.75rem,
      'weight': 500,
      'line-height': 2rem,
      'letter-spacing': 0.1666666667em,
      'font-family': $body-font-family,
      'text-transform': uppercase,
    ),
  ),
  $headings
);

@each $heading in 'h1', 'h2', 'h3', 'h4', 'h5', 'h6' {
  $value_map: map-get($headings, $heading);
  #{$heading} {
    font-size: map-get($value_map, 'size');
    font-weight: map-get($value_map, 'weight');
    line-height: map-get($value_map, 'line-height');
    letter-spacing: map-get($value_map, 'letter-spacing');
    font-family: map-get($value_map, 'font-family');
    @if (map-get($value_map, 'text-transform')) {
      text-transform: map-get($value_map, 'text-transform');
    }
  }
}

@each $heading, $value_map in $headings {
  .text-#{$heading} {
    font-size: map-get($value_map, 'size');
    font-weight: map-get($value_map, 'weight');
    line-height: map-get($value_map, 'line-height');
    letter-spacing: map-get($value_map, 'letter-spacing');
    font-family: map-get($value_map, 'font-family');
    @if (map-get($value_map, 'text-transform')) {
      text-transform: map-get($value_map, 'text-transform');
    }
  }
}

@each $heading, $value_map in $headings {
  @include create_breakpoints() using ($screen_size) {
    .text-#{$screen_size}-#{$heading} {
      font-size: map-get($value_map, 'size');
      font-weight: map-get($value_map, 'weight');
      line-height: map-get($value_map, 'line-height');
      letter-spacing: map-get($value_map, 'letter-spacing');
      font-family: map-get($value_map, 'font-family');
      @if (map-get($value_map, 'text-transform')) {
        text-transform: map-get($value_map, 'text-transform');
      }
    }
  }
}
