@use 'sass:map';
@use 'sass:list';
@use 'config/breakpoints';
@use 'config/colors';
@use 'overrides';

// TODO
// maybe rename this to `config`
// maybe move the individual sections to `config/_fii`
// maybe include the default-colors in here

$-config: (
  'breakpoints': (
    'slices': breakpoints.$slices,
  ),
  // 'colors': colors.$colors,
  // 'typography': (),
  'elements': (
    // 'blockquote': blockquote.$settings,
    // 'code': (
    //   'color': #c0341d,
    //   'background-color': #fbe5e1,
    //   'padding': 0 0.4rem,
    //   'font-size': 85%,
    //   'font-weight': 900,
    //   'border-radius': 3px,
    //   'kbd': (
    //     'color': #ffffff,
    //     'background-color': #212529,
    //     'padding': 0.2rem 0.4rem,
    //     'font-size': 85%,
    //     'font-weight': 900,
    //     'border-radius': 3px,
    //   )
    // ),
  )
);

$config: map.deep-merge($-config, overrides.$config);

@function get($key, $keys...) {
  // @debug $config;
  @if map.has-key($config, $key, $keys...) {
    @return map.get($config, $key, $keys...);
  } @else {
    $-keys: list.join(($key), $keys);
    // @warn "Unknown key '#{$-keys}' in $config";
    @return null;
  }
}
