@import './tools/functions';
@import './tools/colors';
@import './tools/elevation';

// NOTE these belong to a theme
$primary-color: #6200ee !default; // almost deep-purple->accent-4
$secondary-color: #1976d2 !default; // blue->darken-2
$success-color: #4caf50 !default; // green->base
$info-color: #00bcd4 !default; // cyan->base
$warning-color: #fb8c00 !default; // orange->darken-1
$error-color: #f44336 !default; // red->base

// v-- only used in styles/elements/global
$font-size-root: 16px !default;
$line-height-root: 1.5 !default;
// ^--

// $border-radius-root: 4px !default;

$body-font-family: 'Roboto', 'Segoe UI', sans-serif !default;
