@import './tools/functions';
@import './tools/colors';
@import './tools/elevation';


// NOTE these belong to a theme
$primary-color: #6200ee !default; // almost deep-purple->accent-4
$secondary-color: #1976d2 !default; // blue->darken-2
$success-color: #4caf50 !default; // green->base
$info-color: #00bcd4 !default; // cyan->base
$warning-color: #fb8c00 !default; // orange->darken-1
$error-color: #f44336 !default; // red->base

// v-- only used in styles/elements/global
$font-size-root: 16px !default;
$line-height-root: 1.5 !default;
// ^--

$border-radius-root: 4px !default;


$spacer: 4px !default;

$body-font-family: 'Roboto', 'Segoe UI', sans-serif !default;

// $container-max-widths: () !default;
// $container-padding-x: $grid-gutter / 2 !default;

// $transitions: () !default;


// Importing user defined variables
@import 'material-theme';


// NOTE this seems to not be used anywhere
// $grid-gutters: map-deep-merge(
//   (
//     'xs': $grid-gutter / 12,
//     'sm': $grid-gutter / 6,
//     'md': $grid-gutter / 3,
//     'lg': $grid-gutter * 2/3,
//     'xl': $grid-gutter,
//   ),
//   $grid-gutters
// );

// NOTE doesnt seem to be required
// $container-max-widths: map-deep-merge(
//   (
//     'md': map-get($grid-breakpoints, 'md') * 0.9375,
//     'lg': map-get($grid-breakpoints, 'lg') * 0.9375,
//     'xl': map-get($grid-breakpoints, 'xl') * 0.9375,
//   ),
//   $container-max-widths
// );

$primary-transition: 0.3s map-get($transitions, 'swing') !default;
