@import './tools/functions';
@import './tools/colors';
@import './tools/elevation';


// NOTE these belong to a theme
$primary-color: #6200ee !default; // almost deep-purple->accent-4
$secondary-color: #1976d2 !default; // blue->darken-2
$success-color: #4caf50 !default; // green->base
$info-color: #00bcd4 !default; // cyan->base
$warning-color: #fb8c00 !default; // orange->darken-1
$error-color: #f44336 !default; // red->base

// v-- only used in styles/elements/global
$font-size-root: 16px !default;
$line-height-root: 1.5 !default;
// ^--

$border-radius-root: 4px !default;


$spacer: 4px !default;

$body-font-family: 'Roboto', 'Segoe UI', sans-serif !default;

$grid-columns: 12 !default;
$grid-gutter: $spacer * 6 !default;
$form-grid-gutter: $spacer * 2 !default;
$grid-gutters: () !default;

$container-max-widths: () !default;
$container-padding-x: $grid-gutter / 2 !default;

$transitions: () !default;


// Importing user defined variables
@import 'material-theme';


$grid-gutters: map-deep-merge(
  (
    'xs': $grid-gutter / 12,
    'sm': $grid-gutter / 6,
    'md': $grid-gutter / 3,
    'lg': $grid-gutter * 2/3,
    'xl': $grid-gutter,
  ),
  $grid-gutters
);

$container-max-widths: map-deep-merge(
  (
    'md': map-get($grid-breakpoints, 'md') * 0.9375,
    'lg': map-get($grid-breakpoints, 'lg') * 0.9375,
    'xl': map-get($grid-breakpoints, 'xl') * 0.9375,
  ),
  $container-max-widths
);

$transitions: map-deep-merge(
  (
    'fast-out-slow-in': cubic-bezier(0.4, 0, 0.2, 1),
    'linear-out-slow-in': cubic-bezier(0, 0, 0.2, 1),
    'fast-out-linear-in': cubic-bezier(0.4, 0, 1, 1),
    'ease-in-out': cubic-bezier(0.4, 0, 0.6, 1),
    'fast-in-fast-out': cubic-bezier(0.25, 0.8, 0.25, 1),
    'swing': cubic-bezier(0.25, 0.8, 0.5, 1),
  ),
  $transitions
);

$primary-transition: 0.3s map-get($transitions, 'swing') !default;
