@use '../tools/breakpoints';

@mixin styles {
  @include breakpoints.each($include_default: true, $suffix: true) using ($slice_suffix) {
    .float#{$slice_suffix}-left {
      float: left;
    }
    .float#{$slice_suffix}-right {
      float: right;
    }
    .float#{$slice_suffix}-none {
      float: none;
    }
  }
}
