@use '../config';
@use '../tools/breakpoints';

$-spacer: config.get('common', 'spacer');
$-steps: 16;
$-property-map: (
  'm': 'margin',
  'p': 'padding',
);
$-direction-map: (
  'a': '',
  'l': 'left',
  'r': 'right',
  't': 'top',
  'b': 'bottom',
);

@mixin styles {
  @include breakpoints.each($include_default: true, $suffix: true) using ($slice_suffix) {
    @each $property_abbr, $property in $-property-map {
      @each $direction_abbr, $direction in $-direction-map {
        $direction_suffix: if($direction == '', '', '-#{$direction}');

        .#{$property_abbr}#{$direction_abbr}#{$slice_suffix}-auto {
          #{$property}#{$direction_suffix}: auto !important;
        }

        @for $i from 0 through $-steps {
          .#{$property_abbr}#{$direction_abbr}#{$slice_suffix}-#{$i} {
            #{$property}#{$direction_suffix}: $-spacer * $i !important;
          }
          .#{$property_abbr}#{$direction_abbr}#{$slice_suffix}-n#{$i} {
            #{$property}#{$direction_suffix}: $-spacer * -$i !important;
          }
        }
      }
    }
  }
}
